<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <strong>Kim grasz?</strong>
    <div>
        <% for (let x of userScoreArray) {%>
            <div>
        <a href="/<%= `${x.user_id}` %>">
            <%= `${x.username}`%></a>
        <%= ` wynik: ${x.score}\n` %>
        <% } %>
            </div>
    </div>
    <br>
    <strong>Dodaj usera:</strong>
    <form action='/change' method="POST">
        <input type='text' name="insertUserName" placeholder="imie">
        <br>
        <input type='text' name='insertUserScore' placeholder="wynik">
        <input type='submit'>
    </form>
    <br>
    <strong>Edytuj wynik:</strong>
    <form action='/change' method="POST">
        <select name="nameChangeScore">
            <% for (let x of userScoreArray) {%>
                <option>
            <%= `${x.user_id}. ${x.username}` %>
            <% } %>
                </option>
        </select>
        <input type='text' name='scoreOverwrite' placeholder="wynik">
        <input type='submit'>
    </form>
    <br>
    <strong>Usun usera:</strong>
    <form action='/change' method="POST">
        <select name="deleteUser">
            <% for (let x of userScoreArray) {%>
                <option>
            <%= `${x.user_id}. ${x.username}` %>
            <% } %>
                </option>
        </select>
        <input type='submit'>
    </form>
</body>
</html>